#root, .App {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.a-canvas {
  background-color: #000;
  -webkit-filter: invert(100%) grayscale(100%)
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .a-canvas {
    width: 1920px !important;
    height: 1080px !important;
    position: relative !important;
  }
}